/* Background image new tab page */

@-moz-document url(about:newtab), url(about:home) { 
  .outer-wrapper {
    background-image: url(wallpaper.jpg) !important; /* Image in chrome folder */
    background-size: cover !important;
    background-attachment: fixed !important;
    color: grey !important; /* Text color */
  }
}

 @-moz-document url("about:preferences") {
#category-sync { display:none!important; }
} 


